html {
    scroll-behavior: smooth;
}

.editor-content-view {
    border: 3px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    margin: 20px;
    overflow-x: auto;
}

.editor-content-view p,
.editor-content-view li {
    white-space: pre-wrap;
    /* 保留空格 */
}

.editor-content-view blockquote {
    border-left: 8px solid #d0e5f2;
    padding: 10px 10px;
    margin: 10px 0;
    background-color: #f1f1f1;
}


.editor-content-view table {
    border-collapse: collapse;
}

.editor-content-view td,
.editor-content-view th {
    border: 1px solid #ccc;
    min-width: 50px;
    height: 20px;
}

.editor-content-view th {
    background-color: #f1f1f1;
}

.editor-content-view ul,
.editor-content-view ol {
    padding-left: 20px;
}

.editor-content-view input[type="checkbox"] {
    margin-right: 5px;
}

.editor-content-view img {
    width: 100%;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card .btn:focus,
.card .btn:focus-visible {
    box-shadow: none;
    outline: none;
}

.to-top {
    position: fixed;
    right: 40px;
    bottom: 40px;
    color: #333;
}

.to-top:hover {
    color: inherit;
    text-decoration: inherit;
}

.to-top::after {
    content: '返回顶部';
    font-family: serif;
}

.card:nth-child(odd) .card-header {
    background-color: #f8f8ff;
}

.card:nth-child(even) .card-header {
    background-color: rgb(225 225 250 / 67%);
}

.card-header {
    border: none !important;
}

.card {
    border: none !important;
}
.span-split a{
    display: inline-block;
}
.span-split a+a::before{
    content: '、';
}